if !userLogged
    ul.main-layout__menu
        a( href="/" )
            li( class="active" ) Home
        div
        a( href="/register" )
            li Register
        a( href="/login" )
            li Login
            style.
                .main-layout__menu {
                    grid-template-columns: 100px 1fr 100px 100px;
                }