if userLogged
    div.user-details=`Hello, ${userLogged.names} ( ${userLogged.role.toUpperCase()} )`
        style.
            .user-details {
                margin: 0px;
                padding: 0px 20px;
                text-align: right;
                font-weight: bold;
            }
    ul.main-layout__menu
        block main-layout__header
        block main-layout__header__menu__current
            a( href="/" )
                li( class="active" ) Home
            a( href="/product/new" )
                li Add a Product
        div
        a( href="/logout" )
            li Logout
            style.
                .main-layout__menu {
                    grid-template-columns: 100px 125px 1fr 100px;
                }