extends ./main-layout.pug

block main-layout__block
    div.wrapper
        h1 Home: Online Shop - Welcome!
        br
        h2.do-opts What can you do here? You can:
        ol.do-opts
            li.do-opts Review all available products in the "Products" menu tab.
                ul
                    li.do-opts You can sorth them by: Title, Price, and Production Date
            hr
            li.do-opts You can Log In either as User or as Admin:
                ul
                    li.do-opts As User:
                        ul
                            li.do-opts You can register as a new user 
                            li.do-opts You can add to cart, specify order number and order products 
                            li.do-opts You can review your purchase history 
                    li.do-opts As Admin:
                        ul
                            li.do-opts email: peter@peter.com
                            li.do-opts password: PeterPass1
                            li.do-opts 
                            li.do-opts You can enter new Products 
                            li.do-opts You can edit and delete the products owned by you 
                            li.do-opts You can add to cart, specify order number and order products 
                            li.do-opts You can review your purchase history 
            hr
            li.do-opts Good Luck!
            hr
