block main-layout__head
    head
        block main-layout__head__stylesheets
            link( rel="stylesheet" href="/styles/menu.css" type="text/css" )
block main-layout__header
    block main-layout__header__menu
        include ./includes/menu-user-logged-out.pug
        include ./includes/menu-user-logged-in.pug
    block main-layout__header__err
        div#err
block main-layout__block
block main-layout__footer
    br
    div( style="text-align: center;" ) 
        span#current-year
        span  &copy;My Online Shop	 
    script.
        let currentDate = new Date();
        let currentYear = currentDate.getFullYear();

        let currentYearId = document.getElementById( 'current-year' );
        currentYearId.innerText = currentYear;