block main-layout__head
    head
        block main-layout__head__stylesheets
            link( rel="stylesheet" href="/styles/menu.css" type="text/css" )
block main-layout__header
    block main-layout__header__menu
        ul.main-layout__menu
            a( href="/" )
                li Home
            div
            a( href="/register" )
                li Register
            a( href="/login" )
                li Login
            a( href="/logout" )
                li Logout
    block main-layout__header__err
        div#err
block main-layout__block
block main-layout__footer
    h1 Footer