extends ../main-layout.pug

block append main-layout__head__stylesheets
    link( rel="stylesheet" href="/styles/form-reg-log.css" type="text/css" )

block main-layout__header__err
    div#err=ERR

block main-layout__header__menu__current
    a( href="/" )
        li Home
    a( href="/admin/product/new" )
        li( class="active" ) Add a Product

block main-layout__block
    h1 Add New Product
    form( method="POST" action="/admin/product/new" class="form-reg-log" )
        input( type="hidden" name="path" id="path" value=`${path}`)
        div( class="form-reg-log_field" )
            label( for="title" ) Title*
            input( type="text" name="title" id="title" value=`${usr['title'] || ''}`)
        div( class="form-reg-log_field submit" )
            label( for="password_repeat" ) 
            button( type="submit" ) Submit