extends ../main-layout.pug

block append main-layout__head__stylesheets
    link( rel="stylesheet" href="/styles/form-registration.css" type="text/css" )

block main-layout__header__menu
    div#tokenHolder( style="display: none" )=loginToken
    ul.main-layout__menu
        a( href="/" )
            li Home
        div
        a( href="/register" )
            li( class="active" ) Register
        a( href="/login" )
            li Login
        a( href="/logout" )
            li Logout

block main-layout__block
    h1 You were registered...
    script.
        var divLoginToken = document.getElementById( 'tokenHolder' );
        var loginToken = divLoginToken.innerText
        localStorage.setItem( 'loginToken', loginToken );
        setTimeout( function () {
            window.location = '/';
        }, 2000 );