extends ../main-layout.pug

block append main-layout__head__stylesheets
    link( rel="stylesheet" href="/styles/form-reg-log.css" type="text/css" )

block main-layout__header__menu
    div#tokenHolder( style="display: none" )=loginToken
    include ../includes/menu-user-logged-out.pug
    include ../includes/menu-user-logged-in.pug
block main-layout__block
    h1 You were registered...
    script.
        var divLoginToken = document.getElementById( 'tokenHolder' );
        var loginToken = divLoginToken.innerText
        localStorage.setItem( 'loginToken', loginToken );
        setTimeout( function () {
            window.location = '/';
        }, 2000 );