extends ../main-layout.pug

block append main-layout__head__stylesheets
    link( rel="stylesheet" href="/styles/form-registration.css" type="text/css" )

block main-layout__header__menu
    ul.main-layout__menu
        a( href="/" )
            li Home
        div
        a( href="/register" )
            li( class="active" ) Register
        a( href="/login" )
            li Login
        a( href="/logout" )
            li Logout

block main-layout__block
    h1 Register
    form( method="POST" action="/register" class="form-registration" )
        div( class="form-registration_field" )
            label( for="names" ) Your Names*
            input( type="text" name="names" id="names" )
        div( class="form-registration_field" )
            label( for="email" ) Email*
            input( type="text" name="email" id="email" )
        div( class="form-registration_field" )
            label( for="password" ) Password*
            input( type="password" name="password" id="password" )
        div( class="form-registration_field" )
            label( for="password_repeat" ) Password Repeat*
            input( type="password" name="password_repeat" id="password_repeat" )
        div( class="form-registration_field submit" )
            label( for="password_repeat" ) 
            button( type="submit" ) Submit