extends ../main-layout.pug

block append main-layout__head__stylesheets
    link( rel="stylesheet" href="/styles/forms.css" type="text/css" )

block main-layout__header__err
    div#err=ERR

block main-layout__block
    h1 Register
    form( method="POST" action="/register" class="form-reg-log" )
        div( class="form-reg-log_field" )
            label( for="names" ) Your Names*
            input( type="text" name="names" id="names" value=`${usr['names'] || '' }` )
        div( class="form-reg-log_field" )
            label( for="email" ) Email*
            input( type="text" name="email" id="email" value=`${usr['email'] || ''}`)
        div( class="form-reg-log_field" )
            label( for="password" ) Password*
            input( type="password" name="password" id="password" )
        div( class="form-reg-log_field" )
            label( for="password_repeat" ) Password Repeat*
            input( type="password" name="password_repeat" id="password_repeat" )
        div( class="form-reg-log_field submit" )
            label( for="password_repeat" ) 
            button( type="submit" ) Submit